/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2c230e;
	--sl-color-accent: #856400;
	--sl-color-accent-high: #d3c7ae;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f1ede4;
	--sl-color-gray-2: #c6c1b7;
	--sl-color-gray-3: #948b76;
	--sl-color-gray-4: #605744;
	--sl-color-gray-5: #403725;
	--sl-color-gray-6: #2e2614;
	--sl-color-black: #1b1810; /* background color */
	--sl-color-background: #4b2e0d; /* warmer brown color */
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #dfd6c3;
	--sl-color-accent: #876600;
	--sl-color-accent-high: #3f300c;
	--sl-color-white: #1b1810;
	--sl-color-gray-1: #2e2614;
	--sl-color-gray-2: #403725;
	--sl-color-gray-3: #605744;
	--sl-color-gray-4: #948b76;
	--sl-color-gray-5: #c6c1b7;
	--sl-color-gray-6: #f1ede4;
	--sl-color-gray-7: #f8f6f1;
	--sl-color-black: #ffffff;
	--sl-color-background: #ffffff;
}

/* static background image */
:root[data-theme='dark'] body {
	background-image: url('/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--sl-color-background); /* warmer brown color */
	background-blend-mode: multiply;
	background-attachment: fixed;
	backdrop-filter: blur(2px) sepia(90%);
}
